<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.krilia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Krilia"
        android:usesCleartextTraffic="true">
        <activity android:name=".ProductOfCategoryActivity"></activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EditProductActivity" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".MessagesActivity" />
        <activity android:name=".CommentsActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".AddProductActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".SavedProductsActivity" />
        <activity android:name=".LikedProductsActivity" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Krilia.NoActionBar" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Krilia.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Krilia.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Krilia.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>